<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aviones">
    String

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconoapp"
        android:label="Airporty"
        android:roundIcon="@drawable/iconoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aviones">
        <activity
            android:name=".listaclasssearch"
            android:exported="true" />
        <activity
            android:name=".interfazinternaclass"
            android:exported="true" />
        <activity
            android:name=".listaclasshist"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>